@import 'node_modules/bootstrap/dist/css/bootstrap.css';

$enable-transitions: true;

.navbar {
  background-color: black !important
}

.nav-link {
  color: white !important
}

#logo {
  float: left;
  color: white;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container {
  margin-top: 25px;
}

.jumbotron {
  background-image: asset_url('aaron-burden-y02jEX_B0O0-unsplash.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
  color: white;
  text-align: right;
}
